@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f8fbff; /* 魚千盒背景色 */
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  /* 刪除了原本的 display: flex 和 place-items: center */
}

/* 確保 React 根節點撐滿全螢幕 */
#root {
  width: 100%;
  margin: 0 auto;
}